<h2>Inserção de Livros</h2>
<mat-card>
    <!-- o TwoWayDataBind serve para passar campos unicos, forms facilitam multiplos campos -->
    <form (submit)="onSalvarLivro(livroForm)" #livroForm="ngForm">
        <mat-form-field>
            <input type="number" matInput placeholder="Id" name="id" ngModel required>
            <mat-error>Digite um id valido</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput placeholder="Titulo" name="titulo" [ngModel]="livro?.titulo" required minlength="4">
            <mat-error>Digite um titulo valido</mat-error>

        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput placeholder="Autor" name="autor" [ngModel]="livro?.autor" required minlength="4">
            <mat-error>Digite um autor valido</mat-error>

        </mat-form-field>
        <mat-form-field>
            <input type="number" matInput placeholder="Paginas" name="paginas" [ngModel]="livro?.paginas" required>
            <mat-error>Digite um numero de paginas valido</mat-error>

        </mat-form-field>
        <button color="accent" mat-raised-button>Salvar livro</button>
    </form>
</mat-card>